@use '../custom' as *;
/* ////////////////////////////////////////////////////////////////////////// */
/*                           Mesclado de Gradientes                           */
/* ////////////////////////////////////////////////////////////////////////// */
@mixin gradient {
    background: linear-gradient(to right, rgba($primary,0.95), rgba($secondary,0.95));
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                    Configuracion de centrados absolutos                    */
/* ////////////////////////////////////////////////////////////////////////// */

@mixin absoluteCenter{
    position: absolute;
    top:60%;
    left: 95%;
    transform: translate(-50%,-60%);
}

@mixin absoluteCenter2{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                          Propiedades de transicion                         */
/* ////////////////////////////////////////////////////////////////////////// */

@mixin transitionProperty{
    transition-duration: 1s;
    transition-property: all;
}